/* Home.css */
.container-custom {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #343a40;
}

.form-select-custom {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
}

.table-custom {
    margin-top: 20px;
}

.table-custom thead {
    background-color: #343a40;
    color: #ffffff;
}

.table-custom th, .table-custom td {
    vertical-align: middle;
    text-align: center;
}

.table-custom td {
    font-size: 0.9rem;
}

.button-small {
    font-size: 0.8rem; /* Kích thước chữ nhỏ hơn */
    padding: 5px 10px; /* Padding nhỏ hơn để làm nút nhỏ hơn */
    min-width: 60px; /* Chiều rộng tối thiểu của nút */
    margin: 2px; /* Khoảng cách giữa các nút */
}

.button-group {
    display: flex;
    gap: 5px; /* Khoảng cách nhỏ giữa các nút */
    justify-content: center;
}